.content {
	font-family: Sans-serif;
	max-width: 725px;
	margin: auto;
}
img {
	width: 100px;
	border-radius: 5%;
	margin-right: 20px;
	margin-top: 20px;
	float: left;
}
.section {
	padding: 10px;
}
.section-title {
	font-size: 180%;
	margin-bottom: 5px;
	margin-top: 20px;
}
h1 {
	text-align: center;
	padding: 40px;
}
a {
	padding: 10px;
}
a:hover {
	background-color: #d9bd4e;
}
a:visited, a:link {
	color: white; 
}
.navigation {
	padding-top: 1px;
	padding-bottom: 7px;
	background-color: #4f4e4a;
	text-align: center;
	height: 40px;
}

.header {
	background-color: #3aa2de;
	height: 120px;
}

.job-title{
	color: #5b79ab;
}
li {
	padding: 0.2em;
	margin-left: 25px;
}
.skills {
	margin-top: 20px;
	font-size: 180%;
	text-align: center;
}

.sidebar {
	background-color: rgba(211,211,211, 0.3);
	margin-left: 20px;
	width: 200px;
	border-radius: 10%;
	position: relative;
	float: right;
	margin-top: 20px;
	margin-bottom: 30px;
}

.timeframe {
	font-style: italic;
	margin-bottom: 1em;
}