.content {
	font-family: Monospace;
	max-width: 725px;
	margin: auto;
}
img {
	width: 100px;
	border-radius: 5%;
	margin-right: 20px;
	margin-top: 20px;
	float: left;
}
.section {
	padding: 10px;
}
.section-title {
	font-size: 180%;
	margin-bottom: 5px;
	margin-top: 20px;
}
.name {
	margin-top: 20px;
	font-size: 200%;
	margin-bottom: 30px;
}
.msg {
	height:40px;
	width: 400px;
	background-color: pink;
	padding-top: 10px;
	position: relative;
	top: -50px;
}
h1 {
	text-align: center;
	padding: 40px;
}
a {
	padding: 10px;
}
a:hover {
	background-color: #d9bd4e;
}
a:visited, a:link {
	color: black; 
}
.about, .history, .experience {
	position: relative;
	top: -70px;
}
.navigation {
	padding-top: 1px;
	padding-bottom: 7px;
	background-image: linear-gradient(#f0ed5b, #e09448);
	text-align: center;
	height: 40px;
	width: 500px;
	margin: auto;
	position: relative;
	top: -50px;
}

.header {
	background: radial-gradient(#30f0e9, #468cdb);
	height: 160px;
}
.job-title{
	color: #468cdb;
}
li {
	padding: 0.2em;
	margin-left: 25px;
}
.skills {
	margin-top: 20px;
	font-size: 180%;
	text-align: center;
}

.sidebar {
	background-color: #f5d142;
	margin-left: 20px;
	margin-right: 8px;
	width: 200px;
	border-radius: 10%;
	position: relative;
	float: right;
	margin-top: 20px;
	margin-bottom: 30px;
}

.timeframe {
	font-style: italic;
	margin-bottom: 1em;
}